<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <h1 class="h4 mb-4 text-center">Sign in</h1>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input formControlName="email" type="email" class="form-control" placeholder="you@example.com">
          @if(submitted && form.controls.email.invalid){
          <div class="form-text text-danger">
            Enter a valid email.
          </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <input formControlName="password" type="password" class="form-control" placeholder="••••••••">


          @if(submitted && form.controls.password.invalid){
          <div class="form-text text-danger">
            Password is required.
          </div>
          }
        </div>

        <button class="btn btn-primary w-100" [disabled]="loading()">
          {{ loading() ? 'Signing in…' : 'Sign in' }}
        </button>

        <a class="btn btn-success w-100" routerLink="/signup">
          {{ loading() ? 'Signing up…' : 'Sign up' }}
        </a>


        @if (error()) {
        <div class="alert alert-danger mt-3 py-2">{{ error() }}</div>
        }

      </form>
    </div>
  </div>
</div>
